<ion-view view-title="会诊邀请"  ng-controller="DaKaCtrl">
    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon icon ion-ios-telephone" ng-click="AssModal1()"></a>
    </ion-nav-buttons>

    <ion-content id="AssYaoQing" class="AssBg">
        <div class="list">
            <a class="item card my_order_item " href="#/AssHuanZheZL">
                <div class="fl">
                    <h2>王羲之</h2>
                    <p>2016-06-06</p>
                </div>
                <div class="fr">
                    <h3>白内障手术</h3>
                    <p>患者自荐</p>
                </div>
            </a>
            <a class="item card my_order_item " href="#/AssHuanZheZL">
                <div class="fl">
                    <h2>王羲之</h2>
                    <p>2016-06-06</p>
                </div>
                <div class="fr">
                    <h3>白内障手术</h3>
                    <p>患者自荐</p>
                </div>
            </a>
            <a class="item card my_order_item " href="#/AssHuanZheZL">
                <div class="fl">
                    <h2>王羲之</h2>
                    <p>2016-06-06</p>
                </div>
                <div class="fr">
                    <h3>白内障手术</h3>
                    <p>患者自荐</p>
                </div>
            </a>
            <a class="item card my_order_item " href="#/AssHuanZheZL">
                <div class="fl">
                    <h2>王羲之</h2>
                    <p>2016-06-06</p>
                </div>
                <div class="fr">
                    <h3>白内障手术</h3>
                    <p>患者自荐</p>
                </div>
            </a>
            <a class="item card my_order_item " href="#/AssHuanZheZL">
                <div class="fl">
                    <h2>王羲之</h2>
                    <p>2016-06-06</p>
                </div>
                <div class="fr">
                    <h3>白内障手术</h3>
                    <p>患者自荐</p>
                </div>
            </a>
        </div>
    </ion-content>


    <div class="AssModal1" ng-show="show">
        <div class="MoKefu">
            <div class="item item-button-right KeFuText">语音服务</div>
            <div class="item item-button-right KeFuText">电话服务</div>
            <div class="button button-full button-stable" ng-click="HideModal1()">取消</div>
        </div>
    </div>

</ion-view>