<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content id="home-content">
    	<div class="list">
    		<div class="item home-content-item">
    			<div class="item-box">
    			<div class="box" ui-sref="ASSzhuanDaka">
    				<img src="images/zhuanzhen@2x.png"/>
    			</div>
    			<h2 ui-sref="ASSzhuanDaka">转诊<p>大咖转大咖</p></h2>
    			<h3>让患者得到更精准的诊疗</h3>
    		</div>
    		</div>
    		<div class="item home-content-item">
    			<div class="row">
    				<div class="col"ui-sref="AssYYChuZhen">
    					<div class="box"><img src="images/dianhua@2x.png"/></div> 
    					<p>电话</p> 
    				</div>
    				<div class="col" ui-sref="AssYYChuZhen">
    					<div class="box"><img src="images/yuyin@2x.png"/></div> 
    					<p>语音</p> 	 
    				</div>
    			</div>
    			
    		</div>
    	</div>
    </ion-content>
</ion-view>