<ion-view view-title="我的资料" class="bar-assertive">
    <ion-content>
        <div class="list">
            <a class="item fukuan_tb">
            	<span class="box"><img src="images/baiduqianbao@2x.png"></span>
                百度钱包
            </a>
            <a class="item fukuan_tb" >
            	<span class="box"><img src="images/zhifubao@2x.png"></span>
                woshituhao@.163.com
            </a>        
            <a class="item fukuan_tb">
            	<span class="ion-plus-round box"></span>
               添加付款方式
            </a>            
        </div>
    </ion-content>
</ion-view>