<ion-view view-title="医院推广" class="bar-assertive">

    <ion-nav-buttons side="left">
        <a menu-toggle="left" class="button button-icon icon ion-ios-close-empty" ui-sref="home"></a>
    </ion-nav-buttons>

    <ion-content id="PoP" class="AssBg">
        <div class="list card">
            <div class="item popMaTop">
                <h2>重庆西南医院</h2>
                <ul class="reUl">
                    <li>设备先进</li>
                    <li>设备先进</li>
                    <li>设备先进</li>
                </ul>
            </div>
            <div class="item item-icon-right RiDingWei">
                重庆
                <i class="icon ion-location"></i>
            </div>
        </div>
        <div class="list card">
            <div class="item popMaTop">
                <h2>重庆西南医院</h2>
                <ul class="reUl">
                    <li>设备先进</li>
                    <li>设备先进</li>
                    <li>设备先进</li>
                </ul>
            </div>
            <div class="item item-icon-right RiDingWei">
                重庆
                <i class="icon ion-location"></i>
            </div>
        </div>
        <div class="list card">
            <div class="item popMaTop">
                <h2>重庆西南医院</h2>
                <ul class="reUl">
                    <li>设备先进</li>
                    <li>设备先进</li>
                    <li>设备先进</li>
                </ul>
            </div>
            <div class="item item-icon-right RiDingWei">
                重庆
                <i class="icon ion-location"></i>
            </div>
        </div>
        <div class="list card">
            <div class="item popMaTop">
                <h2>重庆西南医院</h2>
                <ul class="reUl">
                    <li>设备先进</li>
                    <li>设备先进</li>
                    <li>设备先进</li>
                </ul>
            </div>
            <div class="item item-icon-right RiDingWei">
                重庆
                <i class="icon ion-location"></i>
            </div>
        </div>
        <div class="list card">
            <div class="item popMaTop">
                <h2>重庆西南医院</h2>
                <ul class="reUl">
                    <li>设备先进</li>
                    <li>设备先进</li>
                    <li>设备先进</li>
                </ul>
            </div>
            <div class="item item-icon-right RiDingWei">
                重庆
                <i class="icon ion-location"></i>
            </div>
        </div>
    </ion-content>
</ion-view>