<ion-view view-title="寻找大咖医生">
    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon icon ion-ios-search-strong" href="javascript:;"></a>
    </ion-nav-buttons>
    <ion-content id="AssDaKaYis" class="AssBg">
            <ul class="AssHzLis clearfix">
                <li>工体北门</li>
                <li>私营</li>
                <li>设备的先进</li>
                <li>工体北</li>
                <li>工体北门</li>
                <li>私营</li>
                <li>设备的先进</li>
            </ul>
        <div class="HZuomain">
            <span class="pan1">c</span>
            <div class="AssHzLis">
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3 class="borBo">陈宝玲<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3>程世英 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3 class="borBo">朱明<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3>阿俊 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3 class="borBo">朱明<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3>阿俊 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3 class="borBo">朱明<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3>阿俊 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3 class="borBo">朱明<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
                <a class="item item-avatar myA_DaKaYis" href="#">
                    <img src="images/smallyishengtouxiang@2x.png">
                    <h3>阿俊 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
                </a>
            </div>
        </div>
        <ul class="zimu">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li>G</li>
            <li>H</li>
            <li>I</li>
            <li>J</li>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li>G</li>
            <li>H</li>
            <li>I</li>
            <li>J</li>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
        </ul>
    </ion-content>

</ion-view>