<ion-view view-title="患者资料"  ng-controller="DaKaCtrl">
    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon icon ion-ios-telephone" ng-click="AssModal1()"></a>
    </ion-nav-buttons>
    <ion-content id="AssHuanZheZL" class="AssBg">
        <div class="AssZL">
            <h3>WR<span class="span1">13800013800</span></h3>
            <span class="span2">HB</span>
            <P class="AssPly"><button class="button icon-left ion-volume-high button-clear button-positive"></button><span class="span3">58"</span></P>
        </div>
        <div class="AsssZLImg">
                <img src="images/my_order_bl_img.png">
                <img src="images/my_order_bl_img.png">
        </div>
    </ion-content>

    <div class="AssModal1" ng-show="show">
        <div class="MoKefu">
            <div class="item item-button-right KeFuText">语音服务</div>
            <div class="item item-button-right KeFuText">电话服务</div>
            <div class="button button-full button-stable" ng-click="HideModal1()">取消</div>
        </div>
    </div>


</ion-view>