<ion-view view-title="查找医院">
    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon icon ion-ios-search-strong" href="javascript:;"></a>
    </ion-nav-buttons>
    <ion-content id="AssHeZuo" class="AssBg">
            <ul class="AssHzLis clearfix">
                <li>工体北门</li>
                <li>私营</li>
                <li>设备的先进</li>
                <li>工体北</li>
                <li>工体北门</li>
                <li>私营</li>
                <li>设备的先进</li>
            </ul>
        <div class="HZuomain">
            <span class="pan1">c</span>
            <div class="AssHzLis">
                <h3 class="borBo">北京协和医院<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                <h3>北京协和医院 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <h3 class="borBo">北京协和医院<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                <h3>北京协和医院 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <h3 class="borBo">北京协和医院<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                <h3>北京协和医院 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <h3 class="borBo">北京协和医院<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                <h3>北京协和医院 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
            </div>
        </div>
        <div class="HZuomain">
            <span class="pan1">z</span>
            <div class="AssHzLis">
                <h3 class="borBo">北京协和医院<span>设备的先进</span><span>私营</span><span>私营</span></h3>
                <h3>北京协和医院 <span>设备的先进</span><span>私营</span><span>私营</span></h3>
            </div>
        </div>
        <ul class="zimu">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li>G</li>
            <li>H</li>
            <li>I</li>
            <li>J</li>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li>G</li>
            <li>H</li>
            <li>I</li>
            <li>J</li>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
        </ul>
    </ion-content>

</ion-view>