<ion-view view-title="大咖助理" class="bar-assertive">

    <ion-nav-buttons side="left">
        <a menu-toggle="left" class="button button-icon icon ion-ios-close-empty" ui-sref="home"></a>
    </ion-nav-buttons>


    <ion-content id="ASScontent" class="AssBg">
        <div class="list">
            <a class="item card ASSnav" href="#/AssYaoQing">
                会诊邀请
            </a>
            <a class="item card ASSnav" href="#/ASSzhuanDaka">
                转诊大咖
            </a>
            <a class="item card ASSnav" href="#/AssYYChuZhen">
                找医院出诊
            </a>
            <a class="item card ASSnav" href="#/ASSzhuanYiYuan">
                转诊医院
            </a>
            <a class="item card ASSnav" href="#/AssHeZuo">
                寻找合作
            </a>
            <a class="item card ASSnav" href="#/AssPingTai">
                平台协助患者会诊
            </a>
        </div>
    </ion-content>
</ion-view>