<ion-view view-title="登录" ng-controller="loginCtrl">
    <ion-content>
        <div class="login_tx" ><a href="index.html"><img src="images/login_tx.png"></a></div>
        <div class="list list-inset">
            <form>
                <div class="my_login_item">
                    <input type="tel" placeholder="手机号码">
                </div>
                <div class="my_login_item">
                    <input type="password" placeholder="请输入验证码">
                    <input class="my_button" type="submit" value="{{count}}" ng-click="login()">
                </div>
                <input class="button-positive my_submit_button" type="submit" value="登录">
                <div class="my_checkbox">
                    <label>
                        <div class="my_check">
                            <input type="checkbox">
                            <span></span>
                        </div>
                        用户许可协议
                    </label>
                </div>

            </form>

        </div>
        <div class="my_icon">
            <p>快捷登录</p>
            <a href="javascript:;"><img src="images/disanfangqq@2x.png"></a>
            <a href="javascript:;"><img src="images/disanfangweixin@2x.png"></a>
            <a href="javascript:;"><img src="images/disanfangxinlang@2x.png"></a>
        </div>
    </ion-content>
</ion-view>